@font-face { 
    font-family: "Gilroy";
    src: url("../fonts/GilroyRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}
/* section WHAT-WE-DO start */

.what-we-do {
    font-family: Gilroy;
}
.cards {
    display: grid;
    grid-template-columns: 40.426% 40.426%;
    grid-template-rows: auto;
    gap: 100px;
    margin-bottom: 100px;
    margin-top: 100px;
    justify-content: end;
}

.cards__title {
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #316099;
    grid-column: 1/1;
    grid-row: 1/1;
    height: 162.5px;
}

.card {
    height: 525px;
    padding: 12.6%;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.card__pic {
    text-align: center;
}
.card__pic img {
    max-width: 100%;
}
.card1 {
    padding-top: 0px;
    grid-column: 2/3;
    grid-row: 1/3;
}
.card2 {
    grid-column: 1/2;
    grid-row: 2/4;
}
.card3 {
    grid-column: 2/3;
    grid-row: 3/5;
}
.card__info h3{
    font-family: Gilroy;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin-bottom: 16PX;
}
.card__info p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}
.card .learn-more {
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #356EAD;
    padding-right: 48px;
    background: url(../img/ic_arrow_right_18px.svg) no-repeat right center;
}

/* section WHAT-WE-DO end */

/* section BLOG start */
.blog__pop, .blog__all {
    font-family: Gilroy;
    /* position: relative; */
}
.blog__search {
    margin-top: 56px;
    display: inline-flex;
    width: 100%;
    background: #F4F4F4;
    border-radius: 10px;
    padding: 18px;
  }
  
  .search-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    order: -1;
  }
  
  .search-field {
    background: #F4F4F4;
    border-radius: 10px;
    width: 300px;
    border: 0; 
    font-size: 16px;
    line-height: 19px;
    color: #1F3F68;
    opacity: 0.9;
  }
.search-field::placeholder {
    font-size: 16px;
    line-height: 19px;
    color: #1F3F68;
    opacity: 0.6;
 } 
.search-field:focus {
    outline: none;
}
  
.blog h2 {
     text-transform: uppercase;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
    margin-top: 56px;
    color: #356EAD;
}

.popular__blocks {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows:auto;
    grid-gap: 30px 20px;
}
.popular__block {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.block-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.block-info-text h3 {
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 16px;
}
.block-info-text p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 16px;
}

.info-links {
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-links__reader .name-reader {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}
.info-links__reader .date-reader {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.4;
}
.info-links__links a {
    margin-right: 30px;
}
.info-links__links a:hover {
    opacity: 0.7;
}

.info-links__links a:last-child {
    margin-right: 0px;
}

.blog__pop .see-all{
    margin-top: 50px;
    position: absolute;
    right: 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #356EAD;
}
.blog__pop .see-all:hover {
    opacity: 0.7;
}
.blog__pop .hr {
    margin-top: 98px;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}

.article__blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 30px 20px

}
.article__block {
    grid-column: span 4;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.article__block .photo {
    max-width: 300px;
    max-height: 200px;
    object-fit: cover;
}
.all h3 {
    margin-bottom: 14px;
    font-size: 20px;
    line-height: 28px;
}
.all p {
    margin-bottom: 14px;;
}

.old-new-post {
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
}
.old-new-post a {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    letter-spacing: 0.04em;
    color: #356EAD;
    text-decoration: none;
    transition: .3s;
}

.new-post {
    padding-left: 31px;
    background: url(../img/ic_arrow_left_18px.svg) no-repeat 5% center;
}
.old-post {
    padding-right: 31px;
    background: url(../img/ic_arrow_right_18px.svg) no-repeat 95% center;
}
.old-post:hover {
    opacity: 0.9;
    background: url(../img/ic_arrow_right_18px.svg) no-repeat right center;
}
.new-post:hover {
    opacity: .9;
    background: url(../img/ic_arrow_left_18px.svg) no-repeat left center;
}
/* section BLOG end */


/* section CONTACT-US start */
.contact-us {
    margin-top: 50px;
    font-family: Gilroy;
}
.contact-us__blocks {
    display: grid;
    grid-template-columns: 32% 57.4%;
    grid-template-rows: auto;
    grid-gap: 10.6%;
    margin-bottom: 100px;
}

.contact-us__info {
    margin-top: 120px;
    font-family: Gilroy;
}
.contact-us__info .first {
    margin-bottom: 56px;
    max-width: 100%;
}
.contact-us__info h3 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-top: 24px;
    margin-bottom: 24px;
}
.contact-us__info p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
    margin-bottom: 16px;
}
.contact-us__info a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 16px;
}   
.contact-us__info a:hover {
    opacity: 0.7;
}
.contact-us__info .tel-ico {
    vertical-align: bottom;
}

.contact-us__form {
    margin-top: 57px;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 10.37%;
}
.contact-us__form h3 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 48px;
}
.contact-us__form label, input {
    display: block;
}
.contact-us__form label {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
    margin-bottom: 8px;
}
.contact-us__form input, textarea {
    width: 100%;
    border: 1px solid rgba(53, 109, 173, 0.4);
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 32px;
}

.contact-us__form input {
    height: 72px;
    padding-left: 36px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
}

input[type="text"]::placeholder { 
    color: #1F3F68;
    opacity: 0.2; 
}
input:focus::placeholder {
    color: transparent;
} 
.contact-us__form input:focus {
    outline: none;
    border: 1px solid #1F3F68;
}

.contact-us__form textarea {
    height: 144px;
    padding-left: 36px;
    padding-top: 20px;
}
textarea::placeholder { 
    font-family: Gilroy;
    color: #1F3F68;
    opacity: 0.2;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
}
textarea:focus {
    outline: none;
    border: 1px solid #1F3F68;
}
textarea:focus::placeholder {
    color: transparent;
} 
.contact-us__form button[type="submit"] {
    width: 100%;
    height: 72px;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    border: none;
    font-family: Gilroy;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.contact-us__form button[type="submit"]:hover {
    opacity: .6;
}
.contact-us__form button[type="submit"]:focus {
    border: 1px solid #1F3F68;
    outline: none;
    opacity: .6;
}


@media (min-width: 768px) {
    .popular__block:first-child {
        grid-column: span 6;
        flex-direction: row-reverse;
        gap: 20px;
    }
    .popular__block:first-child .photo {
        width: 57.4%;    
    }
}

@media(max-width:767px) {
    .cards {
        grid-template-columns: 47% 47%;
        gap: 30px;
        justify-content: center;
    }
    .cards__title {
        height: 212.5px;
    }
    .card {
        padding: 8%; 
    }

    .popular__blocks {
        grid-gap: 45px 20px;
    }
    .popular__block {
        grid-column: span 3;
        
    }
    .popular__block .photo{
        object-fit:cover;
        height: 200px;
    }
    .article__block {
        grid-column: span 2;
        flex-direction: column;
    }
    .article__block .photo{
        object-fit:cover;
        max-width: 100%;
        height: 200px;
    }
    .contact-us__blocks {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-gap: 10px;
    } 
    .contact-us__info .first {
        float: right;
        margin-top: 120px;
    }
    .contact-us__info {
        margin-top: 20px;
    }
    
} 
@media(max-width:576px) {
    .cards {
        grid-template-columns: 92%;
        gap: 40px;
        margin-top: 60px;
    }
    
    .cards__title {
        height: 172.5px;
    }
    
    .card1 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .card2 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .card3 {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    

    .popular__block {
        grid-column: span 6;
    }
    .article__block {
        grid-column: span 4;
    }
    .contact-us__info .first {
        float: none;
        margin-top: 60px;
    }
    .contact-us__info {
        margin-top: 20px;
        text-align: center;
    }
    .contact-us__info p {
        max-width: 400px;
        margin: 0 auto;
    }
}
/* section CONTACT-US end */